//  @import url('https://fonts.googleapis.com/css?family=Asul');

//     #app {
//       font-family: 'Asul', Helvetica, Arial, sans-serif;
//       -webkit-font-smoothing: antialiased;
//       -moz-osx-font-smoothing: grayscale;
//     }
html 
	scroll-behavior: smooth

.is--homepage 
	background:#f1f1f1
	
.content:not(.custom) img
	background:#fff
	margin:1rem
	padding 1rem
	float: right
	clear: both

.content:not(.custom) img:first-child
	background:#fff
	margin:0 1rem
	padding 1rem
	float: right
	clear: both